.section {
  padding: 94px 0;

  &__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--title-text-color);
  }

  &--secondary-bg {
    background-color: var(--secondary-bg-color);
  }
}
